<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Windows_Plot_Mover.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Windows_Plot_Mover.My.MySettings>
            <setting name="Drive1CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive2CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive3CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive4CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive5CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive1Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive2Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive3Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive4Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive5Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive1Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive2Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive3Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive4Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive5Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive1DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive2DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive3DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive4DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive5DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PlotSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive1NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive2NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive3NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive4NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive5NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxConsecMoves" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReservedSpace1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Drive6CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive7CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive8CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive9CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive10CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive6Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive7Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive8Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive9Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive10Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive6Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive7Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive8Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive9Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive10Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drive6DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive7DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive8DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive9DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive10DelFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive6NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive7NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive8NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive9NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive10NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="ReservedSpace6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReservedSpace10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlotType" serializeAs="String">
                <value>plot</value>
            </setting>
            <setting name="PlotDeleteType" serializeAs="String">
                <value>plot</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Windows_Plot_Mover.My.MySettings>
    </userSettings>
</configuration>
